$width: 20%;
$visibleLine: 2%;

.root {
  height: 100vh;
  position: fixed;
  width: $width;
  right: 0 calc(#{$visibleLine} - #{$width});
  top: 0;
  padding: $visibleLine;
  transition: right .4s;
  box-shadow: -10px -1px 9px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;

  &:hover {
    right: 0;
  }
}