@import 'src/utilities/__variables';

.controls {
  display: flex;
  padding: 4px;
}

.controlBtn {
  border: none;
  border-bottom: 1px solid transparent;
  margin-right: 2px;
}

.highlight {
  border-bottom: 1px solid $white;
}

.verticalDivider {
  width: 1px;
}

.customSelectWrapper {
  position: relative;
  width: 50px;
}

.selectMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  background: #5c5e5d;
  box-shadow: 0 0 2px;
}