@import 'src/utilities/__variables';

.controls {
  display: flex;
}

.controlBtn {
  border: none;
  border-bottom: 1px solid transparent;
  margin-right: 2px;
}

.highlight {
  border-bottom: 1px solid $white;
}

.verticalDivider {
  width: 1px;
}

.customSelectWrapper {
  position: relative;
  min-width: 100px;
}

.selectMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2px;
}