@import 'src/utilities/__variables.scss';

.link {
  display: flex;
  align-items: center;
  width: 100%;
  border-right: 2px solid transparent;
  font-size: $navBarFontSize;
  justify-content: space-between;
}

.activeLinkIndicator {
  background: $primary;
  height: 2px;
  height: 100%;
  width: 2px;
}

.active {
  display: flex;
  width: 100%;
  border-right: 2px solid $primary;
}