@import 'src/utilities/styling/main';

.root {
  width: 14%;
  height: 100vh;
  position: fixed;
}

.divider {
  flex-grow: 1;
}

.logoutButton {
  border: none;
  text-align: left;
  font-size: $navBarFontSize;
  color: $primary;
  padding: 0 1rem;

  &:hover {
    border: none;
    background: inherit;
    color: #9a4912;
    cursor: pointer;
  }
}