@import 'src/utilities/__variables';

.editor {
  height: 100%;
  font-size: 16px;
  width: 100%;
  /* border: 1px solid $info; */
  color: $white;
  /* padding: 8px; */
}


.headingSelect {
  width: 100px;
}

.controlBtn {
  border: none;
}

.qoutedText {
  border-left: 4px solid $info;
  margin: 1em 10px;
  padding: 0.2em 10px;
  font-style: italic;
}

.codeBlock {
  background: $muted;
  color: $black;
}