@import 'src/utilities/styling/main';

.commentInput {
  resize: none;
  border: none;
  box-shadow: none;
  border-bottom: 0.8px solid $secondary;
  transition: border-bottom .4s;

  &:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $white;
  }
}