@import 'src/utilities/styling/main';

.editorWrapper {
  font-size: 16px;
  color: $white;
  padding: $inputPadding;
}

.headingSelect {
  width: 100px;
}

.controlBtn {
  border: none;
}

.qoutedText {
  border-left: 4px solid $info;
  margin: 1em 10px;
  padding: 0.2em 10px;
  font-style: italic;
}

.codeBlock {
  background: $muted;
  color: $black;
}

.textLeft div {
  text-align: left;
}

.textCenter div {
  text-align: center;
}

.textLeft div {
  text-align: right;
}